## Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import os

## Creating path to main project 'InstacartBasket'

In [3]:
path = r"C:\Users\Leeza\Desktop\Data Analytics\Data Immersion\Python\Instacart Basket Analysis"

In [4]:
df_ords=pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [5]:
df_ords.shape

(3421083, 8)

## Creating dataframe for importing the 'orders_products_prior' file

In [6]:
df_ords_prods_prior=pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [7]:
df_ords_prods_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
df_ords_prods_prior.shape

(32434489, 4)

## Merging the new dataframe with df_ords

In [9]:
df_merged_large = df_ords.merge(df_ords_prods_prior, on = 'order_id', indicator = True)

In [10]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,0.0,196,1,0,both
1,0,0,2539329,1,1,2,8,0.0,14084,2,0,both
2,0,0,2539329,1,1,2,8,0.0,12427,3,0,both
3,0,0,2539329,1,1,2,8,0.0,26088,4,0,both
4,0,0,2539329,1,1,2,8,0.0,26405,5,0,both

In [11]:
df_merged_large.shape

(32434489, 12)

In [12]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

### New merged data_frame with left join

In [13]:
df_merged_left=df_ords.merge(df_ords_prods_prior, on = 'order_id', how='left', indicator = True)

In [14]:
df_merged_left.shape

(32640698, 12)

In [15]:
df_merged_left['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

## Q2. Export the merged file in pickle format as “orders_products_combined.pkl”.

In [16]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))