In [1]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

## Creating path to main project 'InstacartBasket'

In [2]:
path = r"C:\Users\Leeza\Desktop\Data Analytics\Data Immersion\Python\Instacart Basket Analysis"

## Q3. In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

#### Importing pickle file using dask is not possible, hence used panda

In [3]:
df_ords_prods_combined=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

## Q4. Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

In [4]:
df_ords_prods_combined.shape

(32434489, 12)

### Dropping the columns from dataframe as it's not needed

In [5]:
df_ords_prods_combined.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'order_id', 'user_id', 'order_number',
       'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

In [6]:
df_ords_prods_combined.drop(columns = {'Unnamed: 0.1', 'Unnamed: 0','_merge'}, inplace = True)

In [7]:
df_ords_prods_combined.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered'],
      dtype='object')

In [8]:
df_ords_prods_combined.shape

(32434489, 9)

In [9]:
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,0.0,196,1,0
1,2539329,1,1,2,8,0.0,14084,2,0
2,2539329,1,1,2,8,0.0,12427,3,0
3,2539329,1,1,2,8,0.0,26088,4,0
4,2539329,1,1,2,8,0.0,26405,5,0

In [10]:
df_ords_prods_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
dtypes: float64(1), int64(8)
memory usage: 2.4 GB

## Changing the datatype for df_ords_prods_combined data set to reduce memory usage

In [11]:
df_ords_prods_combined['order_id']=df_ords_prods_combined['order_id'].astype('int32')
df_ords_prods_combined['user_id'] = df_ords_prods_combined['user_id'].astype('int32')
df_ords_prods_combined['order_number']= df_ords_prods_combined['order_number'].astype('int8')
df_ords_prods_combined['orders_day_of_week']=df_ords_prods_combined['orders_day_of_week'].astype('int8')
df_ords_prods_combined['order_hour_of_day']=df_ords_prods_combined['order_hour_of_day'].astype('int8')
df_ords_prods_combined['days_since_prior_order']=df_ords_prods_combined['days_since_prior_order'].astype('float16')
df_ords_prods_combined['add_to_cart_order']=df_ords_prods_combined['add_to_cart_order'].astype('int8')
df_ords_prods_combined['reordered']=df_ords_prods_combined['reordered'].astype('int32')

In [12]:
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,0.0,196,1,0
1,2539329,1,1,2,8,0.0,14084,2,0
2,2539329,1,1,2,8,0.0,12427,3,0
3,2539329,1,1,2,8,0.0,26088,4,0
4,2539329,1,1,2,8,0.0,26405,5,0

## Q5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [13]:
# Importing Products data file using dask
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

In [14]:
df_prods.columns

Index(['Unnamed: 0', 'product_id', 'product_name', 'aisle_id', 'department_id',
       'prices'],
      dtype='object')

In [15]:
# Dropping the 'unnamed' column
df_prods.drop(columns = ['Unnamed: 0'],inplace=True)

In [16]:
df_prods.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [17]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int64
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

## Changing the datatype for df_prods data set to reduce memory usage

In [18]:
df_prods['product_id']=df_prods['product_id'].astype('int32')
df_prods['aisle_id']=df_prods['aisle_id'].astype('int32')
df_prods['department_id']=df_prods['department_id'].astype('int32')
df_prods['prices']=df_prods['prices'].astype('float32')

In [19]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int32
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int32
 3   department_id  49672 non-null  int32
 4   prices         49672 non-null  float32
dtypes: float32(1), int32(3), object(1)
memory usage: 1.1+ MB

## Both the data files combined

In [20]:
df_merged = df_ords_prods_combined.merge(df_prods,on = 'product_id', indicator = True)

## Q6. Confirm the results of the merge using the merge flag.

In [21]:
df_merged.shape

(32404859, 14)

In [22]:
df_merged.drop(columns = ['_merge'],inplace=True)

In [23]:
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0

## Q7. Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [24]:
# Export the new file
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))